@page "/auth/login"

@layout EmptyLayout
@rendermode InteractiveServer

<section class="vh-100 d-flex align-items-center" style="background-color: #9A616D;">
    <div class="container py-5">
        <div class="row d-flex justify-content-center">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="/Images/LoginPicture.webp"
                                 alt="login form" class="img-fluid" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
                                    <DataAnnotationsValidator />

                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                        <span class="h1 fw-bold mb-0">MilliyChat</span>
                                    </div>

                                    <h5 class="fw-normal mb-3 pb-3">Sign into your account</h5>

                                    <div class="form-outline mb-4">
                                        <InputText @bind-Value="@loginModel.UserName" class="form-control form-control-lg" placeholder="UserName" />
                                        <ValidationMessage For="@(() => loginModel.UserName)" class="text-danger" />
                                    </div>

                                    <div class="form-outline mb-4">
                                        <InputText @bind-Value="loginModel.Password" type="password" class="form-control form-control-lg" placeholder="Password" />
                                        <ValidationMessage For="@(() => loginModel.Password)" class="text-danger" />
                                    </div>

                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                                    </div>

                                    <p class="mb-5 pb-lg-3">
                                        Don't have an account? <a href="/register" style="color: #393f81;">Register here</a>
                                    </p>
                                    <a href="/auth/reset-password" class="small text-muted">Forgot password?</a>
                                    <a href="#!" class="small text-muted">Terms of use.</a>
                                    <a href="#!" class="small text-muted">Privacy policy</a>
                                    <!-- Rest of your form -->
                                </EditForm>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
