@inherits LayoutComponentBase
<div class="page">
	<HomeHeader/>


    <div class="main-content">
        <article class="content">
            @Body
        </article>
    </div>

    <HomeFooter/>
</div>