.page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}
.main-wrapper {
    margin-left: 260px;
    width: calc(100% - 260px);
    transition: margin-left 0.3s ease, width 0.3s ease;
}

    .main-wrapper.collapsed {
        margin-left: 60px;
        width: calc(100% - 60px);
    }

.main-content {
    padding: 20px;
}