@inherits LayoutComponentBase

@if(IsShowContent){
    <div class="page">
        <IndexHeader user="@userModel"/>
        <div class="main-content">
            <article class="content">
                @Body
            </article>
        </div>

    </div>
}