@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

@if(IsShowContent){
    <div class="page">
        <!-- Sidebar -->
        <NavMenu OnToggleSidebar="HandleSidebarToggle" />

        <!-- Main Content -->
        <div class="main-wrapper @(isSidebarCollapsed ? "collapsed" : "")">
            <IndexHeader user="@userModel" />
            <div class="main-content">
                <article class="content">
                    @Body
                </article>
            </div>
        </div>
    </div>
}

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="10"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug" />