@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

@if(IsShowContent){
    <div class="page">
        <IndexHeader user="@userModel"/>
        <div class="main-content">
            <article class="content">
                @Body
            </article>
        </div>

    </div>
}

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug" />