@page "/About"

@layout HomeLayout

<main>
    <section class="about-section">
        <h2>About</h2>
        <div class="separator"></div>
        <div class="about-content">
            <p>
                MilliyChat – bu odamlarni birlashtirish va samimiy muloqotni rivojlantirishga xizmat qiluvchi innovatsion platforma. Biz foydalanuvchilarimiz uchun qulay va ishonchli muhit yaratishga intilamiz. Zamonaviy texnologiyalar va mukammal foydalanuvchi tajribasi asosida qurilgan ushbu chat ilovasi orqali siz yangi do‘stlar orttirishingiz, qiziqarli suhbatlar qilishingiz va haqiqiy insoniy aloqalarni mustahkamlashingiz mumkin.

                MilliyChat bilan muloqot yanada oson, qulay va yoqimli bo‘ladi!
            </p>
        </div>
    </section>

    <!-- Team section -->
    <section class="team-section">
        <h2>Team</h2>
        <div class="team-content">
            <p>
                MilliyChat jamoasi – tajriba va ijodkorlikni o‘zida mujassam etgan fidoyi mutaxassislar jamoasi. Biz bir maqsad sari intilib, innovatsiya va mukammallikka asoslangan yechimlarni yaratamiz. Jamoamizning har bir a’zosi chat platformamizning muvaffaqiyati uchun bor kuchini sarflaydi va foydalanuvchilarimiz kutganidan ham yuqori sifatni ta’minlashga intiladi.
            </p>
        </div>
        <div class="separator"></div>
        <div class="team-members">
            <div class="team-member">
                <img src="/Images/DefaultImage.png" alt="John Doe" class="team-member-image">
                <h3>Javohir Khursanboyev</h3>
                <p>CEO & Founder</p>
            </div>
            <div class="separator"></div>
            <div class="team-member">
                <img src="/Images/DefaultImage.png" alt="Emily Smith" class="team-member-image">
                <h3>Ahmadjon Kholmirzayev</h3>
                <p>Lead Backed Developer</p>
            </div>
            <div class="separator"></div>
            <div class="team-member">
                <img src="/Images/DefaultImage.png" alt="Alex Chen" class="team-member-image">
                <h3>Komiljon Rakhmatov</h3>
                <p>Backed Developer</p>
            </div>
        </div>

    </section>

</main>