@page "/"

@layout HomeLayout

<main>
    <section class="hero">
        <div class="container">
            <div class="hero__inner">

                <div class="hero__content">
                    <h1 class="hero__heading">MilliyChat – Xavfsiz va Qulay Muloqot</h1>

                    <p class="hero__text">Do‘stlar bilan bemalol, xavfsiz va qulay muloqot qiling. MilliyChat orqali do‘stlaringiz bilan video, audio va matnli xabarlar yuboring, yangi odamlar bilan tanishing hamda eng so‘nggi yangiliklardan xabardor bo‘ling.</p>

                    <button class="hero__btn nav__button nav__up" type="button">Get started</button>
                </div>

                <img class="hero__img" src="/Images/hero-img.png" alt="Site-hero image" width="600" height="556">
            </div>
        </div>
    </section>
</main>